* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "raleway", Helvetica, serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.3em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*HEADER*/

.header-main {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}


/*HEADER LOGO*/

.header-main__logo {
    color: white;
    float: left;
}

.text-color {
    color: rgb(39, 199, 171);
    margin: 0 5px;
}


/* HEADER NAV */

.header-main__nav {
    float: right;
}

.nav__item {
    display: inline-block;
    margin-left: 40px;
}

.nav__item a {
    text-decoration: none;
    color: white;
}


/*DROPDOWN*/

.nav__item--dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu {
    display: none;
    position: absolute;
    width: 140px;
    z-index: 1;
    margin-top: 7px;
    margin-left: -35px;
}

.dropdown__menu a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: black;
    padding: 3px 20px;
}

.dropdown__menu a:first-child {
    padding-top: 7px;
}

.dropdown__menu a:last-child {
    padding-bottom: 7px;
}

.dropdown__menu a:hover {
    font-weight: bold;
}

.dropdown__menu::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent black transparent;
}



/*SECTION CAROUSEL*/

.carousel {
  background: rgb(39, 199, 171);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(202,202,210,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(100%, rgba(202,202,210,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(202,202,210,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(202,202,210,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(202,202,210,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(202,202,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cacad2', GradientType=0 );
  padding: 90px 0 20px 0;
  width: 100%;
}


.carousel__arrow {
  font-size: 80px;
  margin: 120px 0 0 0;
  padding: 20px 0;
  font-weight: 100;
}

.carousel__arrow a {
  text-decoration: none;
  color: rgb(39, 199, 171);
}

.carousel__arrow--left {
  float: left;
}

.carousel__arrow--right {
  float: right;
}

.carousel__image {
  width: 380px;
  height: 337px;
  margin-left: 30px;
  float: left;
  background-image: url(../images/black_chair.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 120%;
}


.carousel__banner {
  width: 430px;
  height: 337px;
  float: right;
  margin-right: 70px;
  box-sizing: border-box;
  padding: 10px;
}

.carousel__banner h1 {
  font-size: 35px;
  font-weight: 500;
  margin: 50px 0 35px 0;
  text-align: center;
}

.carousel__banner span {
  font-size: 35px;
  font-weight: 700;
  margin: 0 10px 0 10px;
}

.carousel__banner p {
  margin-bottom: 35px;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
}

.banner__button {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(39, 199, 171);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 15px 25px 15px 25px;
  display: block;
}
